#cuerpo {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
@media screen and (orientation:portrait) {
    #cuerpo {
    background-image: url(images/miniConstruccion.jpg);
    }
}
@media screen and (orientation:landscape) {
    #cuerpo {
        background-image: url(images/construccion.jpg);
    }
}