/*Sociales color*/
.fa {
    /*padding: 20px;
    font-size: 30px;
    width: 50px;*/
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  /*Color*/
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 0%;
  }

  /* Instagram */
  .fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); 
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    /*background-clip: text;
    -webkit-background-clip: text;*/
    color: white;
    border-radius: 0%;
  }

  /* Whats App */
  .fa-whatsapp {
    background:#00bb2d;
    color: white;
    border-radius: 50%;
  }

  /* Telegram */
  .fa-telegram {
    background: black;
    color: #0088cc;
  }
