header, footer {
	background-color: #be5749;
	box-shadow: 0px 0px 20px 5px #333;
}

header .w3-dropdown-content {
	background-color: #be5749;
	color: #FFF;
}
	header .w3-dropdown-content a {
		width: 90%;
		align-self:center;
	}
		header .w3-dropdown-content a:hover {
			width: 90%;
			box-shadow: 0 0 20px 5px #444;
			align-self: center;
		}
body {
	background-color: #3b8cde;
}

h1 {
	text-align: center;
	color: #FFF;
	font-weight: bold;
}

footer p {
	text-align: right;
}